{#
/**
 * Block Name: Featured Gallery
 *
 * This is the template that displays the Featured Gallery block.
 */
#}

{% extends "featured-muted.twig" %}
{% import "block-functions.twig" as block_functions %}
{% import "block-snippets.twig" as snippets %}

{# _block blocks (from featured-muted.twig) 

  new vars must be declared INSIDE the twig blocks where relevenat

#}

{% block _block_button %}
  {% set button_text = button_text|default( snippets.view_gallery() ) %}

  {% if gallery %}
    <div class="uk-margin-top">
      <a id="launchGallery" class="feature-link uk-text-uppercase uk-text-emphasis">
        {{ button_text|e('esc_html') }}
      </a>
    </div>
  {% endif %}
{% endblock %}

{% block block_scripts %}
  {% if gallery and not is_preview %}
    {{ block_functions.block_lg(is_preview, 'launchGallery', gallery) }}
  {% endif %}
{% endblock %}