@import "node_modules/lightgallery.js/src/sass/lightgallery.scss";

.rmcc-block .uk-height-small {
  height: 150px!important;
}
.rmcc-block .uk-height-medium {
  height: 300px!important;
}
.rmcc-block .uk-height-large {
  height: 450px!important;
}