{#
/**
 * Block Name: Blog posts
 *
 * This is the template that displays the Blog posts block.
 */
#}

{# extend & imports 

#}

{% extends "block.twig" %}

{% import "block-functions.twig" as block_functions %}
{% import "block-snippets.twig" as snippets %}

{# block fields 

#}

{% set view_all = snippets.view_all %}

{# OLD LOGIC***

  {% set class_w = 'uk-width-1-1' %}
  {% set w = 1600 %}
  {% set h = 400 %}

  {% if second_posts %}
    {% set class_w = 'uk-width-1-2@m' %}
    {% set w = 1200 %}
    {% set h = 620 %}
    {% if second_posts|length > 1 %}
      {% set class_w = 'uk-width-2-5@m' %}
    {% endif %}
  {% endif %}

#}

{# Better logic

#}

{% set class_w = (second_posts) ? ((second_posts|length > 1) ? 'uk-width-2-5@m' : 'uk-width-1-2@m') : 'uk-width-1-1' %}
{% set w = (second_posts) ? 1200 : 1600 %}
{% set h = (second_posts) ? 620 : 400 %}

{# main block 

#}

{% block block_main %}
  {% if first_posts is not empty %}
    <section class="home-blog-posts">
      
      {# posts grid #}
      <div class="uk-grid" uk-grid>
        
        {# 1st post #}
        <div class="home-blog-left first-post {{ class_w }}">
          {% for post in first_posts %}
            {% include '_1st-post.twig' %}
          {% endfor %}
        </div>
        
        {# 2nd & 3rd posts #}
        {% if second_posts %}
        
          {# 2nd post only if 3rd doesnt exist #}
          {% if second_posts|length == 1 %}
            <div class="home-blog-right second-post {{ class_w }}">
              {% for post in second_posts %}
                {% include '_2nd-post.twig' %}
              {% endfor %}
            </div>
          {% endif %}
          
          {# 2nd & 3rd posts if 3rd exists #}
          {% if second_posts|length > 1 %}
            <div class="home-blog-right next-three-posts uk-width-3-5@m">
              <div class="uk-child-width-1-1 uk-grid" uk-grid>
                {% for post in second_posts %}
                  {% include '_2nd-3rd-post.twig' %}
                {% endfor %}
              </div>
            </div>
          {% endif %}
          
        {% endif %}
        
      </div>
      
      {# view all button #}
      {% if fn('get_option', 'page_for_posts') and fn('wp_count_posts').publish > 3 %}
        <div class="uk-flex uk-flex-center uk-margin-medium-top">
          {{ block_functions.block_link(is_preview, fn('get_permalink', fn('get_option', 'page_for_posts')), view_all, {class: 'uk-button uk-button-large uk-button-default'}) }}
        </div>
      {% endif %}
      
    </section>
  {% else %}
    No posts found...
  {% endif %}
{% endblock %}